<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="com/rohan/spring/springcoreadvanced/propertyplaceholder/assignment/wsclient.properties" />
	
	<bean name="webservice" class="com.rohan.spring.springcoreadvanced.propertyplaceholder.assignment.WebService">
		<constructor-arg value="${url}" />
		<constructor-arg value="${user}" />
		<constructor-arg value="${password}" />
	</bean>

</beans>